html, body{
	height:100%;
	width:100%;
	margin: 0;
}

.debug{
	border: 1px solid red;
}

#navbar{
	height: 20%;
	width: 100%;
	display: table;
}

#search-form{
	display: table-cell;
	width: 30%;
	vertical-align: middle;
	padding-left: 10%;
}

#results-message{
	display: none;
}



