html,
body
{
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
}

input
{
	border: none;
}

input[type=text]
{
	font-size: 12px;
	width: 200px;
	height: 28px;
	margin-left: 10vw;
	text-indent: 24px;
	background-image: url('./imgs/search-icon.png');
	background-repeat: no-repeat;
	background-position: 4px center;
	background-size: 14px 14px;
}

input[type=text]:focus
{
	outline-color: #f0d6ff;
}

input[type=submit]
{
	height: 30px;
	background-color: #e8e6ed;
}

input[type=submit]:hover
{
	cursor: pointer;
}

.block{
	display: block;
}

.bold
{
	font-weight: 600;
}

.displ-none
{
	display: none;
}

.fl-right{
	float:right;
}

.info-box
{
	max-width: 600px;
}

.inline-b
{
	display: inline-block;
}

.link, 
.link:active,
.link:visited{
	text-decoration: none;
	color: #6441a5;
}

.link:hover
{
	cursor: pointer;
}

.link:active,
.link:focus,
.link.active,
input[type=submit]:active,
input[type=submit]:focus,
input[type=submit].active
{
	outline: none;
	background-image: none;
	box-shadow: none;
}

.mrg-0-auto
{
	margin: 0 auto;
}

.mrg-bot-0
{
	margin-bottom: 0;
}

.mrg-bot-60p
{
	margin-bottom: 60px;
}

.mrg-left-20p
{
	margin-left: 20px;
}

.mrg-top-0
{
	margin-top: 0;
}

.mrg-top-60p
{
	margin-top: 60px;
}

.pad-right-40p
{
	padding-right: 40px;
}

.page-button
{
	border: 2px solid #6441a5;
	border-radius: 50%;
	background: white;
}

.pos-abs
{
	position: absolute;
}

.row
{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #6441a5;
}

.twitch-color{
	color: #6441a5;
}

.w-60
{
	width: 60%;
}

.w-100
{
	width: 100%;
}

#navbar
{
	display: table;
	width: 100%;
	height: 20%;

	background-color: #6441a5;
}

#pagination-links
{
	float: right;
}

#search-form
{
	display: table-cell;
	width: 30%;
	padding-left: 10%;
	vertical-align: middle;
}

/* twitch loading animation*/

#loading-image{
	-webkit-animation: twitch 1s linear infinite;
	animation: twitch 1s linear infinite;
}

@-webkit-keyframes twitch
{
  15%
  {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
  }
  30%
  {
      -webkit-transform: translateX(-5px);
     transform: translateX(-5px);
  } 
  50%
  {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
  }
  65%
  {
      -webkit-transform: translateX(-4px);
      transform: translateX(-4px);
  }
  80%
  {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
  }
  100%
  {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}
@keyframes twitch
{
	15%
	{
	    -webkit-transform: translateX(5px);
	    transform: translateX(5px);
	}
	30%
	{
	    -webkit-transform: translateX(-5px);
	   transform: translateX(-5px);
	} 
	50%
	{
	    -webkit-transform: translateX(2px);
	    transform: translateX(2px);
	}
	65%
	{
	    -webkit-transform: translateX(-4px);
	    transform: translateX(-4px);
	}
	80%
	{
	    -webkit-transform: translateX(3px);
	    transform: translateX(3px);
	}
	100%
	{
	    -webkit-transform: translateX(0);
	    transform: translateX(0);
	}
}
